/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {background-color: #6699FF}
.header {
	padding: 40px;
	text-align: center;
	background: #6699FF;
	color: white;
}

.header h1 {
	font-size: 40px;
}
.header h2 {
	font-size: 22px;
}
.body {
	background-color: #6699FF;
}
ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3366CC;
}

li {
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #003399;
}

li a.active {
	background-color: #003399;
}

.category-grid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	background-color: #6699FF;
	text-align: center;
}

.grid-element {
	object-fit: cover;
	width: 100%;
	height: auto;
	border: 1px solid black;
}

.column {
	float: left;
	width: 25%;
	height: 30px;
	text-align: center;
}

.questions {
	background-color: #3366CC;
	color: white;
}
.question_header {
	color: white;
	text-align: center;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #003399;
	color: white;
	padding: 14px 20px;
	margin: 8px 0px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}